/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {
    .section-header h2::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100px;
        top: 100%;
        left: 8%;
        margin-top: 10px;
        margin-left: 10px;
        background: #ff0000;
    }
    .section-header h2::before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 100%;
        border-radius: 50%;
        background: #ff0000;
        margin-left: 10px;
        left: 18%;
        margin-top: 6px;
    }

    .footer-top-bg {
        padding: 10px;
    }
 
    .payment-select-option {
        margin-bottom: 20px;
    }
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {width:450px}

    .footer-top-bg {
        padding: 10px;
    }

 
}
